<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <h2>Alta de usuario </h2>

    <div class="row">
      <h3 class="col-md-3"> </h3>
      <h3 class="col-md-5"> </h3>
    </div>
    <input type="text" placeholder="First name" value="{{first_name::input}}" required/>
    <input type="text" placeholder="Last name" value="{{last_name::input}}" required/>
    <input type="email" placeholder="Email" value="{{email::input}}" required/>
    <input type="phone" placeholder="Phone" value="{{phone::input}}" required/>
    <input type="address" placeholder="Address" value="{{address::input}}" required/>
    <input type="password" placeholder="Password" value="{{password::input}}" required/>
    <input type="password" placeholder="Repite Password" value="{{password2::input}}" required/>

    <button class="btn btn-success" on-click="alta">Alta</button>
    <button class="btn btn-info" on-click="inicio">Exit</button>

    <iron-ajax
    id="doalta"
    method="POST"
    url="http://localhost:3000/apitechu/v2/alta"
    content-type="application/json"
    handele-as="json"
    on-response="mangeAJAXResponse"
    on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class altaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          phone: {type: String},
          address: {type: String},
          password: {type: String}

        };
      }
      mangeAJAXResponse(data){
      console.log("mangeAJAXResponse");
      alert(data.detail.response.msg);
      if(data.detail.response.msg=="Usuario dade de alta con éxito"){
        window.location.href = "/login-usuario";}
      }

      showError(error){
      console.log("ErrorAPIresponse");
      console.log(error);
      alert(error.detail.response.msg);
      }

      alta(){
        console.log("Botón alta pulsado");

        if(this.password!=this.password2){
          alert("Password tienen que ser iguales");
        }

        if(this.first_name!=undefined&this.last_name!=undefined&this.email!=undefined&this.password!=undefined&this.phone!=undefined&this.address!=undefined){
          var altaData={
            "first_name": this.first_name,
            "last_name": this.last_name,
            "email" : this.email,
            "phone" : this.phone,
            "address" : this.address,
            //funcion hash SHA1 para el password
            "password" : this.password
          };
          this.$.doalta.body=JSON.stringify(altaData);
          this.$.doalta.generateRequest();
          console.log("Petición enviada");
        }else{
          alert("Debe rellenar todos los campos");
        }
      }
      inicio(){
        window.location.href = "/login-usuario";
      }
    }


    window.customElements.define(altaUsuario.is, altaUsuario);
  </script>
</dom-module>
