<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="visor-cuenta.html">
<link rel="import" href="visor-movimiento.html">
<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <visor-cuenta id="cuenta" on-myevent="processEvent"></visor-cuenta>
    <visor-movimiento id="movimientos"></visor-movimiento>

  </template>


<script>
  /**
   * @customElement
   * @polymer
   */
  class GestorEvento extends Polymer.Element {
    static get is() { return 'gestor-evento'; }
    static get properties() {
      return {   }
      };
      processEvent(e){
        consolo.log("Proceso evento");
        this.$.movimientos.iban=e.detail.iban;
        //this.$.receiver.showData(e.detail);
      }

    }//fin class
  window.customElements.define(GestorEvento.is, GestorEvento);

  </script>
  </dom-module>
