<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <h2>Login de usuario </h2>

    <div class="row">
      <h3 class="col-md-3"> </h3>
      <h3 class="col-md-5"> </h3>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}" required/>
    <input type="password" placeholder="Password" value="{{password::input}}" required/>
    <button class="btn btn-success" on-click="login">Login</button>

    <span hidden$="{{!storedUser.logged}}">Bienvenido usuario {{id}} </span>

    <iron-ajax
    id="doLogin"
    method="POST"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    handele-as="json"
    on-response="mangeAJAXResponse"
    on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id:{type: Number},
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          password: {type: String},
          storedUser: {type: Object}
        };
      }

      mangeAJAXResponse(data){

      console.log("mangeAJAXResponse");
      this.id=data.detail.response.idUsuario;
      console.log(data.detail.response);
      if(this.id==undefined){
        alert(data.detail.response.msg);
      }else {
        //con login correcto guardo id usuario y redirecciono
        this.storedUser={
          "id": this.id,
          "logged": true
        };
        console.log(this.storedUser);
        window.location.href = "/visor-cuenta";
      }
      }

      showError(error){
      console.log("ErrorAPIresponse");
      console.log(error);
      alert(error.detail.error.message);
      }

      login(){
        console.log("Botón login pulsado");

        if(this.email!=undefined&this.password!=undefined){
          var loginData={
              "email" : this.email,
              "password" : this.password
          };
          this.$.doLogin.body=JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
        }else{
          alert("Campos requeridos");
        }
      }

    }//fin del class

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
