<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <h2>Al pulsar en el botón se desconectará su sesión</h2>
    <button class="btn btn-info" on-click="logout">Logout</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          id:{type: Number},
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          password: {type: String},
          storedUser: {type: Object}
        };
      }

        logout(){
          console.log("loggin out....");
          this.storedUser={
            "logged": false
          };
          alert("Hasta pronto");
          window.location.href = "/login-usuario";
        }

    }//fin del class

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
