<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<dom-module id="realiza-transferencia">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <h1>Datos de cuenta con id: {{storedUser.id}}</h1>
    <h2>Numero de cuentas disponibles:  {{ncuentas}}</h2>
    <h3>Seleccione cuenta origen</h3>
    <select id="selector">
    <template is="dom-repeat" items="{{accounts}}">
          <option value="{{item.iban}}">{{item.iban}} Saldo: {{item.balance}} €</option>
    </template>
  </select>

    <h5> Introduzca cuenta destino: </h5>
    <input type="text" placeholder="Cuenta Destino" minlength="19" maxlength="29" value="{{ctadest::input}}" required/>
    <h6>Importe: <input type="number" min="1" max="3000" value="{{importe::input}}" required/> €</h6>
    <button class="btn btn-success" on-click="Transfiere">Transferir</button>
    <iron-ajax auto id="getAccount" url="http://localhost:3000/apitechu/v2/users/{{storedUser.id}}/accounts" handle-as="json" on-response="showData" on-error="showError">

      <iron-ajax
      id="doTransfer"
      method="POST"
      url="http://localhost:3000/apitechu/v2/transferencia"
      content-type="application/json"
      handele-as="json"
      on-response="mangeAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RealizaTransferencia extends Polymer.Element {
      static get is() { return 'realiza-transferencia'; }
      static get properties() {
        return {
          accounts: {type: Array},
          ncuentas: {type: Number},
          ctadest: {type: Text},
          importe: {type: Number},
          storedUser: {type: Object}

        };
      }

      mangeAJAXResponse(data){
        console.log("mangeAJAXResponse");
        alert(data.detail.response.msg);
        window.location.href = "/visor-cuenta";
      }

      showData(data){
        console.log("Show data");
        this.accounts=data.detail.response;
        this.ncuentas=data.detail.response.length;
      }

      showError(error){
      console.log("ErrorAPIresponse");
      alert(error.detail.error.message);
      }

      Transfiere(){
        if(this.ctadest==undefined||this.ctadest.length<19){
          alert("Cuenta destino entre 19 y 29 caracteres")
        }
        if(this.importe==undefined||this.importe>3000){
          alert("Introduzca importe entre 1 y 3000 €uros")
        }

        else{
            var transferData={
                "ctaorigen" : this.$.selector.value,
                "ctadestino" : this.ctadest,
                "importe" : this.importe
            };
            this.$.doTransfer.body=JSON.stringify(transferData);
            this.$.doTransfer.generateRequest();
            console.log("Petición enviada");
        }
      }

    }

    window.customElements.define(RealizaTransferencia.is, RealizaTransferencia);
  </script>
</dom-module>
