<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1>Soy el receptorEvento </h1>
    <h2>ESte es el curso {{course}} en el año {{year}}</h2>

  </template>


<script>
  /**
   * @customElement
   * @polymer
   */
  class receptorEvento extends Polymer.Element {
    static get is() { return 'receptor-evento'; }
    static get properties() {
      return {
        course:{type: String},
        year: {type: Number}
      };
    }
      showData(data){
        this.course=data.course;
        this.year=data.year;
      }
    
  }
  window.customElements.define(receptorEvento.is, receptorEvento);
  </script>
  </dom-module>
