<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <h1>Datos de cuenta con id: {{storedUser.id}}</h1>
    <h2>Numero de cuentas disponibles:  {{ncuentas}}</h2>
    <select id="selector">
    <template is="dom-repeat" items="{{accounts}}">
          <option value="{{item.iban}}">{{item.iban}} Saldo: {{item.balance}} €</option>
    </template>
  </select>
  <button class="btn btn-success" on-click="movments">Movimientos</button>
    <iron-ajax auto id="getAccount" url="http://localhost:3000/apitechu/v2/users/{{storedUser.id}}/accounts" handle-as="json" on-response="showData" on-error="showError" on-myevent="processEvent">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          accounts: {type: Array},
          ncuentas: {type: Number},
          storedUser: {type: Object}

        };
      }
      showData(data){
        //asignar las propiedad
        this.accounts=data.detail.response;
        this.ncuentas=data.detail.response.length;
     }

      showError(error){
      console.log("ErrorAPIresponse");
      this.iban="No disponible";
      this.balance="No disponible";
      alert(error.detail.error.message);
      }

      movments(){
        console.log("vamos a ver movimientos");
          this.storedUser={
           "iban" : this.$.selector.value,
           "id" : this.storedUser.id,
           "logged": true
         };
         console.log(this.storedUser);
          window.location.href = "/visor-movimiento";
        }


    }
    window.customElements.define(VisorCuenta.is, VisorCuenta);
    </script>
</dom-module>
