<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <h1>Datos de cuenta {{storedUser.iban}}
    <button class="btn btn-success" on-click="volver">Volver</button></h1>

  <vaadin-grid aria-label="Basic Binding Example" items="[[movs]]">

    <vaadin-grid-column width="50px" flex-grow="0">
      <template class="header">#</template>
      <template>[[index]]</template>
    </vaadin-grid-column>

    <vaadin-grid-column>
      <template class="header">Fecha</template>
      <template>[[item.date]]</template>
    </vaadin-grid-column>

    <vaadin-grid-column>
      <template class="header">Importe</template>
      <template>[[item.importe]]</template>
    </vaadin-grid-column>

  </vaadin-grid>

<iron-ajax auto id="getMovement" url="http://localhost:3000/apitechu/v2/users/{{storedUser.iban}}/movments" handle-as="json" on-response="showData" on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Visormovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
          movs: {type: Array},
          storedUser: {type: Object}

        };
      }
      showData(data){
      //asignar las propiedad
      this.movs=data.detail.response;
      }

      showError(error){
      console.log("ErrorAPIresponse");
      this.iban="No disponible";
      this.balance="No disponible";
      alert(error.detail.error.message);
      }

      volver(){
        window.location.href = "/visor-cuenta";
      }

    }
    window.customElements.define(Visormovimiento.is, Visormovimiento);
  </script>
</dom-module>
