<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <h1> Nombre : {{first_name}}</h1>
    <h2> Apellidos: {{last_name}}</h2>
    <h3> Email: {{email}}</h3>
    <h4> Dirección: {{address}}</h4>
    <h5> Teléfono: {{phone}}</h5>

    <iron-ajax auto id="getUser" url="http://localhost:3000/apitechu/v2/users/{{storedUser.id}}" handle-as="json" on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id:{type: Number},
          first_name: {type: String},
          last_name: {type: String},
          phone: {type: String},
          address: {type: String},
          email: {type: String},
          logged: {type: Boolean}
        };
      }
      showData(data){
      console.log("Show data");
      console.log(data.detail.response);
      //asignar las propiedad
      this.first_name=data.detail.response.first_name;
      this.last_name=data.detail.response.last_name;
      this.email=data.detail.response.email;
      this.phone=data.detail.response.phone;
      this.address=data.detail.response.address;
      }
    }


    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
